.container {
  margin-top: 20px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }

  label {
    font-weight: bold;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  button[type="submit"] {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .alert {
    margin-top: 20px;
  }
}
